<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daemonw.file.ui">

    <application>
        <activity android:name="com.daemonw.file.ui.activity.FileActivity" />
        <activity android:name="com.daemonw.file.ui.activity.GrantPermissionActivity" />
        <activity
            android:name="com.daemonw.file.ui.activity.FileChooseActivity"
            android:theme="@style/FileChooseDialogTheme" />
    </application>
</manifest>
